
/* ==================================

// Abstract

================================== */

.abstract {
	@include row;

	.abstract__inner {
		@include column(12);
	}

	.abstract__banner {
		@include row;
		position: relative;
		@media( min-width: 768px ) {
			float: right;
			width: 50%;
			margin: 0;
		}

		&--image {
			@include column(12);
			@media( min-width: 768px ) {
				padding: 0;
			}
		}

		&--overlay {
			@include column(12);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			background: rgba( 255, 255, 255, 0.5 );
		}
	}

	.abstract__outline {
		@include row;
		@media( min-width: 768px ) {
			float: left;
			width: 50%;
			margin: 0;
		}

		&--title{
			@include column(12);
			text-align: center;
		}

		&--header {
			padding: 25px 15px 0;
		}

		.abstract__button {
			@include column(12);
			text-align: center;

			&--cta {
				display: block;
			    max-width: 200px;
			    margin: 0 auto 25px;
			    padding: 15px 10px;
			    font-size: 24px;
				font-weight: 700;
				color: $theme-white;
				text-decoration: none;
				background-color: $theme-light-blue;
				transition: 0.2s;
				&:hover {
					color: $theme-light-blue;
					background-color: $theme-white;
					border: 1px solid $theme-light-blue;
					transition: 0.2s;
				}
			}
		}
	}
}




