
/* ======================================

// banner

====================================== */

.banner {
	@include row;
	position: relative;

	.banner__image {
		@include column(12);
	}

	.banner__overlay {
		@include column(12);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		background: rgba( 255, 255, 255, 0.5 );

		&--header {
			color: $theme-black;
			margin: 15% auto 0;
			transition: 0.5s;
			font-weight: 500;
			padding: 0 15px;
			@media( min-width: 768px ) {
				color: $theme-light-blue;
				margin-top: 20%;
			}
		}

		&--body {
			padding: 0 15px;
			color: $theme-black;
		}

	}
}