
/* ==================================

// Navbar

================================== */

.navbar {
	@include row;
	height: 50px;
	background: $theme-white;
	overflow: hidden;
	@media( min-width: 768px ) {
		display: flex;
	}

	&.height-fixed {
		height: 200px;
		border-bottom: 1px solid $theme-light-grey;
		@media( min-width: 768px ){
			height: 50px;
		}
	}

	.navbar__icons {
		@include column(12);
		display: flex;
		height: 50px;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&--brand {
			
			.brand-icon {
				display: block;
				height: 25px;
				margin-left: 5px;
			}
		}

		&--menu {
			margin-right: 5px;
			@media(min-width: 768px) {
				display: none;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}

	.navbar__nav {
		@include column(12);
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 0;
		list-style: none;
		@media( min-width: 768px ) {
			flex-direction: row;
		    align-items: center;
		    justify-content: flex-end;
		}

		// height-auto 
		.height-auto {
			height: auto;
			transition: 1s;
		}

		&--item {
			width: 100%;
			font-weight: 600;
			text-align: center;
		}

		&--anchor {
			display: block;
			width: 100%;
			height: 50px;
			padding-top: 13px;
			text-decoration: none;
			color: $theme-white;
			@media( min-width: 768px ) {
				color: $theme-light-blue;
			}
			&:hover {
				background: white;
				color: $theme-light-blue;
				@media( min-width: 768px ) {
					background: $theme-light-blue;
					color: $theme-white;
				}
			}
		}
	}
}























