
/* ==================================

// Social-Media 

================================== */

.social {
	@include row;
	text-align: center;

	.social__inner {
		@include column(12);
		background-color: $theme-light-blue;
	
		.social__connect {

			&--header {
				padding: 15px;
				color: $theme-white;
				font-weight: 500;
			}
		}

		.social__icons {
			padding-bottom: 15px;

			&--icon {
				display: inline-block;
				height: 50px;
				width: 50px;
				border-radius: 30%;
			}

			&--inner {
				top: 8px;
				font-size: 28px;
			}
		}
	}
}