
/* ==================================

// Subscription

================================== */

.subscription {
	@include row;

	.subscription__inner {
		@include column(12);
	}

	.subscription__banner {
		@include row;
		position: relative;

		&--image {
			@include column(12);
			@media( min-width: 768px ) {
				padding: 0;
			}
		}

		&--overlay {
			@include column(12);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			background: rgba( 255, 255, 255, 0.5 );
		}
	}
}