
/* ==================================

// Subscription grid

================================== */

.grid {
	@include row;
	background: $theme-white;

	.subscription__grid {
		@include column(12);

		&--inner {

		}

		&--title {
			@include row;
		}

		&--header {
			@include column(12);
			text-align: center;
			text-transform: uppercase;
			background-color: $theme-light-blue;
			color: $theme-black;
			margin: 0 auto 45px;
			padding: 25px 15px;
			font-weight: 500;
			transition: 0.5s;
			@media( min-width: 768px ) {
				background-color: $theme-white;
				margin: 15px auto;
			}
		}

		&--shipping {
			@include row;
			color: $theme-black;
		}

		&--options {
			@include column(12);
			margin: 0 auto;
			text-align: center;
		}

		&--free {
			@include column(12);
			font-style: italic;
			margin-bottom: 25px;
			text-align: center;
		}

		.pricing__grid {
			@include row;
			margin-bottom: 75px;

			&--inner {
				width: 90%;
				margin: 0 auto;
				transition: 0.5s;
			}

			&--card {
				@include column(12);
				margin: 0 auto 25px;
				text-align: center;
				@media( min-width: 768px ) {
					@include column(3);
				}
			}

			&--card--inner {
				background: $theme-dark-grey;
    			padding: 15px;
				max-width: 400px;
				margin: 0 auto;
			}

			&--month {
				text-transform: uppercase;
				color: $theme-white;
				margin-bottom: 15px;
			}

			&--underscore {
				width: 100px;
				margin-top: 0;
				border-top: 1px solid $theme-white;
			}

			&--price {
				color: $theme-white;
			}

			&--discount {
				color: $theme-white;
			}

			#invisible {
				visibility: hidden;
			}

		}

	}

}