
/* ==================================

// Tagline

================================== */

.tagline {
	@include row;
	background: $theme-light-blue;

	.tagline__header {
		@include column(12);
		text-align: center;
		padding: 15px;

		&--tag {
			padding: 0 15px;
			text-align: center;
			color: $theme-white;
			@media( min-width: 768px ) {
				display: inline-block;
			}

		}
	}

}