/* ==================================

// Base Components

================================== */

/* ==================================
=====// c-header //===== */

.c-header {
	@include row;

	&__navbar {
		height: 50px;
		background: $theme-white;
		transition: 0.2s;
		overflow: hidden;

		@media( min-width: 768px ) {
			display: flex;
		}

		&.height-fixed {
			height: 200px;
			border-bottom: 1px solid $theme-light-grey;
			transition: 0.2s;
			@media( min-width: 768px ){
				height: 50px;
			}
		}
	}

	&__icons {
		@include column(12);
		display: flex;
		height: 50px;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&--logo {
			display: block;
			height: 25px;
			margin-left: 5px;
		}

		&--menu {

			&:hover {
				cursor: pointer;
			}

			@media(min-width: 768px) {
				display: none;
			}
		}
	}

	&__nav {
		@include column(12);
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 auto;
		list-style: none;

		@media( min-width: 768px ) {
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}

		// height-auto 
		&.height-auto {
			height: auto;
		}

		&--item {
			width: 100%;
			font-weight: 600;
			text-align: center;
		}

		&--anchor {
			display: block;
			width: 100%;
			height: 50px;
			padding-top: 13px;
			text-decoration: none;
			color: $theme-light-blue;
			transition: 0.2s;

			&:hover {
				background: $theme-light-blue;
				color: $theme-white;
				transition: 0.2s;
			}
		}
	}
}

/* ==================================
=====// c-banner //===== */

.c-banner {
	@include row;

	.c-banner__group {
		// for overlap
		@media( min-width: 768px ) {
			position: relative;
		}
	}

	.c-banner__hero {
		@include column(12);
		position: relative;
	}

	.c-banner__hero--overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		background: rgba( 255, 255, 255, 0.5 );

		&--header {
			color: $theme-black;
			margin: 15% auto 0;
			transition: 0.5s;
			font-weight: 500;
			padding: 0 15px;
			@media( min-width: 768px ) {
				color: $theme-light-blue;
				margin-top: 20%;
			}
		}

		&--body {
			padding: 0 15px;
			color: $theme-black;
		}

	}

	.c-banner__headline {
		@include column(12);
		// for overlap
		@media( min-width: 768px ) {
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&--title{
			text-align: center;
			// for overlap
			@media( min-width: 768px ) {
				margin-top: 20%;
			}
		}

		&--button {
			text-align: center;

			&--cta {
				display: block;
		    max-width: 200px;
		    margin: 0 auto 25px;
		    padding: 15px 10px;
		    font-size: 24px;
				font-weight: 700;
				color: $theme-white;
				text-decoration: none;
				background-color: $theme-light-blue;
				transition: 0.2s;
				&:hover {
					color: $theme-light-blue;
					background-color: $theme-white;
					border: 1px solid $theme-light-blue;
					transition: 0.2s;
				}
			}
		}
	}
}

/* ==================================
=====// c-box-features //===== */

.c-box-features {
	@include row;

	&__group {
		// for overlap
		@media( min-width: 768px ) {
			position: relative;
		}
	}

	&__includes {
		@include column(12);
		padding-top: 10px;
    padding-bottom: 25px;
		text-align: center;
		@media( min-width: 768px ) {
			@include column(6);
			text-align: left;
			padding-top: 10px;
    	padding-bottom: 25px;
		}

		&--header {
			text-align: center;
		}

		&--subheader {
			padding: 0 15px;
			text-align: center;
			@media( min-width: 768px ) {
				margin: 0 auto 10px;
			}
		}

		&--list {
			max-width: 350px;
			margin: 0 auto;
			padding: 0 15px;
		}

		&--listing {
			list-style: none;
			text-align: left;
		}

		&--body {
			text-align: left;
		}
	}

	&__excludes {
		@include column(12);
		padding-top: 10px;
	  padding-bottom: 25px;
		text-align: center;
		background: $theme-light-blue;
		@media( min-width: 768px ) {
			@include column(6);
			padding-top: 10px;
    	padding-bottom: 25px;
		}

		&--header {
			text-align: center;
		}

		&--subheader {
			padding: 0 15px;
			text-align: center;
		}

		&--list {
			max-width: 350px;
			margin: 0 auto;
			padding: 0 15px;
			@media( min-width: 768px ) {
				margin-top: 25px;
			}
		}

		&--listing {
			list-style: none;
			text-align: left;
		}

		&--body {
			text-align: left;
			@media( min-width: 768px ) {
				margin-top: 20px;
			}
		}
	}
}

/* ==================================
=====// c-highlights //===== */

.c-highlights {
	@include row;

	&__background {
		@include column--no-padding(12);
		@media( min-width: 768px ) {
			@include column(12);
			background: $theme-light-blue;
		}

		&--inset {
			@include row;
			background: $theme-white;
			padding: 0 15px;
			@media( min-width: 768px ) {
				width: 90%;
		    margin: -50px auto 50px;
		    z-index: 2;
		    position: relative;
		    padding-bottom: 50px;
			}
		}
	}

	&__title {
		@include row;

		&--label {
			@include column(12);
			text-align: center;
			text-transform: uppercase;
			background-color: $theme-light-blue;
			color: $theme-black;
			margin: 0 auto 45px;
			padding: 25px 15px;
			font-weight: 500;
			transition: 0.5s;
			@media( min-width: 768px ) {
				background-color: $theme-white;
				margin: 15px auto;
			}
		}
	}

	&__details {
		@include row;
		@media( min-width: 768px ) {
			padding: 0 20px 25px;
		}


		&--card {
			@include column(4);
			margin: 0 auto 25px;
			text-align: center;
			padding: 0 15px 25px;
			@media( min-width: 768px ) {
				margin: 0 auto;
				padding: 0 15px;
			}
		}

		&--box {
			display: block;
	    background: $theme-light-blue;
	    color: $theme-white;
	    font-size: 24px;
			font-weight: 700;
	    padding: 25px;
	    width: 200px;
	    border-radius: 15px;
	    text-decoration: none;
	    margin: 0 auto;
	    transition: 0.2s;
	    &:hover {
				color: $theme-light-blue;
				background-color: $theme-white;
				border: 1px solid $theme-light-blue;
				transition: 0.2s;
	    }
		}

		&--icon {
			font-size: 40px;
			color: $theme-light-blue;
		}

		&--header {
			margin-top: 10px;
			text-transform: uppercase;
			color: $theme-black;
			@media( min-width: 768px ) {
				margin-top: 20px;
			}
		}
		&--underscore {
			width: 45px;
			border-top: 1px solid $theme-black;
		}
		&--body {
			color: $theme-dark-grey;
			margin: 15px auto;
  		max-width: 400px;
		}
	}
} 

/* ==================================
=====// c-footer //===== */

.c-footer {
	@include row;
	text-align: center;

	&__media {
		background-color: $theme-light-blue;

		&--title {
			@include column(12);
			padding: 15px;
			color: $theme-white;
			font-weight: 500;
		}
	}

	&__socials {
		padding-bottom: 15px;

		&--icon {
			display: inline-block;
			height: 50px;
			width: 50px;
			border-radius: 30%;

			&-inner {
				top: 8px !important;
				font-size: 28px !important;
			}
		}
	}
}

