/* ==================================

// Base Components

================================== */

/* ==================================
=====// c-header //===== */

.c-header {
	@include row;

	&__navbar {
		height: 50px;
		background: $theme-white;
		transition: 0.2s;
		overflow: hidden;
		@media( min-width: 768px ) {
			display: flex;
		}

		&.height-fixed {
			height: 200px;
			border-bottom: 1px solid $theme-light-grey;
			transition: 0.2s;
			@media( min-width: 768px ){
				height: 50px;
			}
		}
	}

	&__icons {
		@include column(12);
		display: flex;
		height: 50px;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&--logo {
			display: block;
			height: 25px;
			margin-left: 5px;
		}

		&--menu {

			&:hover {
				cursor: pointer;
			}

			@media(min-width: 768px) {
				display: none;
			}
		}
	}

	&__nav {
		@include column(12);
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 auto;
		list-style: none;

		@media( min-width: 768px ) {
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}

		// height-auto 
		&.height-auto {
			height: auto;
		}

		&--item {
			width: 100%;
			font-weight: 600;
			text-align: center;
		}

		&--anchor {
			display: block;
			width: 100%;
			height: 50px;
			padding-top: 13px;
			text-decoration: none;
			color: $theme-light-blue;
			transition: 0.2s;

			&:hover {
				background: $theme-light-blue;
				color: $theme-white;
				transition: 0.2s;
			}
		}
	}
}

/* ==================================
=====// c-banner //===== */

.c-banner {
	@include row;

	&__group {
		// for overlap
		@media( min-width: 768px ) {
			position: relative;
		}
	}

	&__hero {
		@include column(12);
		position: relative;
		padding: 0;
		&--overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			background: rgba( 255, 255, 255, 0.5 );
		}
	}

	&__headline {
		@include column(12);
		// for overlap
		@media( min-width: 768px ) {
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&--title{
			text-align: center;
			// for overlap
			@media( min-width: 768px ) {
				margin-top: 20%;
			}
		}

		&--title-secondary {
			text-align: center;
			// for overlap
			@media( min-width: 768px ) {
				margin-top: 35px;
			}
		}

		&--button {
			text-align: center;

			&--cta {
				display: block;
		    max-width: 200px;
		    margin: 0 auto 25px;
		    padding: 15px 10px;
		    font-size: 24px;
				font-weight: 700;
				color: $theme-white;
				text-decoration: none;
				background-color: $theme-light-blue;
				transition: 0.2s;
				&:hover {
					color: $theme-light-blue;
					background-color: $theme-white;
					border: 1px solid $theme-light-blue;
					transition: 0.2s;
				}
			}
		}
	}
}

/* ==================================
=====// c-box-features //===== */

.c-box-features {
	@include row;

	&__group {
		// for overlap
		@media( min-width: 768px ) {
			position: relative;
		}
	}

	&__includes {
		@include column(12);
		padding-top: 10px;
    padding-bottom: 25px;
		text-align: center;
		@media( min-width: 768px ) {
			text-align: left;
			padding-top: 10px;
    	padding-bottom: 25px;
		}

		&--title {
			text-align: center;
		}

		&--list {
			max-width: 85%;
			margin: 0 auto;
			padding: 0 15px;
			text-align: left;
		}

		&--listing {
			list-style: none;
		}
	}

	&__excludes {
		@include column(12);
		padding-top: 10px;
	  padding-bottom: 25px;
		text-align: center;
		@media( min-width: 768px ) {
			padding-top: 10px;
    	padding-bottom: 25px;
		}

		&--title {
			text-align: center;
		}

		&--list {
			max-width: 85%;
			margin: 0 auto;
			padding: 0 15px;
			text-align: left;
		}

		&--listing {
			list-style: none;
		}
	}
}

/* ==================================
=====// c-highlights //===== */

.c-highlights {
	@include row;

	&__background {
		@include column--no-padding(12);
		@media( min-width: 768px ) {
			@include column(12);
			background: $theme-light-blue;
		}

		&--inset {
			@include row;
			background: $theme-white;
			padding: 0 15px;
			@media( min-width: 768px ) {
				width: 90%;
		    margin: -50px auto 50px;
		    z-index: 2;
		    position: relative;
		    padding-bottom: 50px;
			}
		}
	}

	&__background-col-2 {
		@include column--no-padding(12);
		@media( min-width: 768px ) {
			@include column(12);
			background: $theme-light-blue;
		}

		&--inset {
			width: 100%;
			background: $theme-white;
			padding: 0 15px;
			@media( min-width: 768px ) {
				float: left;
				width: 48%;
		    margin: -50px 1% 50px;
		    z-index: 2;
		    position: relative;
		    padding-bottom: 50px;
			}
		}
	}

	&__title {
		@include row;

		&--label {
			@include column(12);
			text-align: center;
			text-transform: uppercase;
			background-color: $theme-light-blue;
			color: $theme-black;
			margin: 0 auto 45px;
			padding: 25px 15px;
			font-weight: 500;
			transition: 0.5s;
			@media( min-width: 768px ) {
				background-color: $theme-white;
				margin: 15px auto;
			}
		}
	}

	&__details {
		@include row;
		@media( min-width: 768px ) {
			padding: 0 20px 25px;
		}


		&--card {
			@include column(4);
			margin: 0 auto 25px;
			text-align: center;
			padding: 0 25px 25px;
			@media( min-width: 768px ) {
				margin: 0 auto;
				padding: 0 15px;
			}
		}

		&--card-full {
			@include column(12);
			margin: 0 auto 25px;
			text-align: center;
			padding: 0 25px 25px;
			@media( min-width: 768px ) {
				margin: 0 auto;
				padding: 0 15px;
			}
		}

		&--box {
			display: block;
	    background: $theme-light-blue;
	    color: $theme-white;
	    font-size: 24px;
			font-weight: 700;
	    padding: 25px;
	    width: 200px;
	    border-radius: 15px;
	    text-decoration: none;
	    margin: 0 auto;
	    transition: 0.2s;
	    &:hover {
				color: $theme-light-blue;
				background-color: $theme-white;
				border: 1px solid $theme-light-blue;
				transition: 0.2s;
	    }
		}

		&--icon {
			font-size: 40px;
			color: $theme-light-blue;
		}

		&--header {
			margin-top: 10px;
			text-transform: uppercase;
			color: $theme-black;
			@media( min-width: 768px ) {
				margin-top: 20px;
			}
		}
		&--underscore {
			width: 45px;
			border-top: 1px solid $theme-black;
		}
		&--body {
			color: $theme-dark-grey;
			margin: 15px auto;
  		max-width: 400px;
		}
	}
} 

/* ==================================
=====// c-subscription //===== */

.c-subscription {
	@include row;

	&__title {
		@include column(12);
		text-align: center;
		text-transform: uppercase;
		background-color: $theme-light-blue;
		color: $theme-black;
		margin: 0 auto 45px;
		padding: 25px 15px;
		font-weight: 500;
		transition: 0.5s;
		@media( min-width: 768px ) {
			background-color: $theme-white;
			margin: 15px auto;
		}
	}

	&__shipping {
		@include column(12);
		color: $theme-black;

		&--title {
			margin: 0 auto;
			text-align: center;
		}

		&--cost {
			font-style: italic;
			margin-bottom: 25px;
			text-align: center;
		}
	}

	&__pricing {
		@include column(12);
		margin-bottom: 50px;

		&--group {
			@include row;
			margin: 0 auto;
		}
	}

	&__card {
		@include column(12);
		margin: 0 auto 25px;
		text-align: center;
		@media( min-width: 768px ) {
			@include column(3);
		}

		&--inner {
			background: $theme-dark-grey;
  			padding: 15px;
			max-width: 400px;
			margin: 0 auto;
		}

		&--month {
			text-transform: uppercase;
			color: $theme-white;
			margin-bottom: 15px;
		}

		&--underscore {
			width: 100px;
			margin-top: 0;
			border-top: 1px solid $theme-white;
		}

		&--price {
			color: $theme-white;
		}

		&--discount {
			color: $theme-white;
			font-style: italic;
		}
	}
}

/* ==================================
=====// c-packages //===== */

.c-packages {
	@include row;

	&__title {
		@include column(12);
		text-align: center;
		text-transform: uppercase;
		background-color: $theme-light-blue;
		color: $theme-black;
		margin: 0 auto 45px;
		padding: 25px 15px;
		font-weight: 500;
		transition: 0.5s;
		@media( min-width: 768px ) {
			background-color: $theme-white;
			margin: 15px auto;
		}
	}

	&__type {
		@include column(12);
		
		&--group {
			@include row;
		}
	}

	&__card {
		@include column(4);
		margin: 0 auto 25px;
		text-align: center;
		padding: 0 15px 25px;
		@media( min-width: 768px ) {
			margin: 0 auto;
			padding: 0 15px;
		}

		&--box {
			display: block;
			background: $theme-light-blue;
			color: $theme-white;
			font-size: 24px;
			font-weight: 700;
			padding: 15px;
			width: 200px;
			text-decoration: none;
			margin: 0 auto;
			transition: 0.2s;
			border-style: inset;
			border-color: $theme-black;
		  	&:hover {
				color: $theme-light-blue;
				background-color: $theme-white;
				border: 1px solid $theme-light-blue;
				transition: 0.2s;
	    	}
		}
	}
}

/* ==================================
=====// c-provisions //===== */

.c-provisions {
	@include row;
	text-align: center;

	&__hr {
		width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid $theme-light-blue;
	}

	&__intro {
		@include column(12);
		margin-bottom: 0;
		text-align: center;
		text-transform: uppercase;
		color: $theme-black;
		font-weight: 500;
		transition: 0.5s;

		&--highlight {
			margin: 0 auto 15px;
			text-align: center;
			text-transform: uppercase;
			color: $theme-black;
			font-weight: 500;
			transition: 0.5s;
			background-color: $theme-light-blue;
			padding: 15px;
		}
	}
	&__copy {
		@include column(12);
		margin-bottom: 20px;
	}
	&__list {
		@include column(12);

		&--group {
			@include row;
		}

		&--title {
			@include column(12);
		}
		&--list {
			@include column(12);
		}
		&--listing {
			text-align: left;
			max-width: 350px;
			margin: 0 auto;
			padding: 0 15px;
		}
		&--caption {
			@include column(12);
		}
	}
}
.c-provisions:last-of-type() {
	margin-bottom: 50px;
}

/* ==================================
=====// c-footer //===== */

.c-footer {
	@include row;
	text-align: center;

	&__media {
		background-color: $theme-light-blue;

		&--title {
			@include column(12);
			padding: 15px;
			color: $theme-white;
			font-weight: 500;
		}
	}

	&__socials {
		padding-bottom: 15px;

		&--icon {
			display: inline-block;
			height: 50px;
			width: 50px;
			border-radius: 30%;

			&-inner {
				top: 8px !important;
				font-size: 28px !important;
			}
		}
	}
}













