/* ==================================

// Base Utilities

================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Helvetica Neue";
}

img {
  height: auto;
  max-width: 100%;
}

%clearfix {
  &:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

/* ==================================
=====// Theme Color //===== */

$theme-white: #FFFFFF;
$theme-black: #000000;
$theme-light-grey: #EEEEEE;
$theme-grey: #BEC1C1;
$theme-dark-grey: #515151;
$theme-light-blue: #8ef2f1;
$theme-pink: #F28E8E;


/* ==================================
=====// Dynamic Grid //===== */

$grid-columns: 12;

@mixin container {
	position: relative;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}

@mixin container--no-padding {
	position: relative;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

@mixin row {
  margin: 0 -15px;
  @extend %clearfix;
}

@mixin column( $columns ) {
  float: left;
  padding: 0 15px;
  width: 100%;
	@media( min-width: 768px ){
		width: percentage( ($columns/$grid-columns ) );
	}
}

@mixin column--no-padding( $columns ) {
  float: left;
  padding: 0;
  width: 100%;
	@media( min-width: 768px ){
		width: percentage( ($columns/$grid-columns ) );
	}
}

/* ==================================
=====// Set-up //===== */

.marked__text {

	&--blue {
		color: $theme-light-blue;
    font-weight: bold;
	}

	&--black {
		color: $theme-black;
	}

	&--white {
		color: $theme-white;
	}
}

/* ==================================
=====// Utility Overrides //===== */

.u-max-width--l {
	margin-left: auto !important;
	margin-right: auto !important;
 	max-width: 1200px !important;
}
.u-max-width--xl {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1440px !important;
}

.u-position--fixed {
  position: fixed !important;
}

.u-no--overlap {
	position: relative !important;
}

.u-margin-top--auto {
  margin-top: auto !important;
}

.u-margin-top--25 {
  margin-top: 25px !important;
}

.u-margin-top--50 {
  margin-top: 50px !important;
}

.u-visibility--hidden {
	visibility: hidden !important;
}

.u-fixed-header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}





